@import "tailwindcss";

body {
  cursor: none; /* hide cursor globally */
}

.navbar {
  cursor: default !important;
}

.video {
  cursor: default !important;
}

.watchNowBtn {
  cursor: pointer !important;
}

button, .cursor-pointer {
  cursor: pointer !important;
}
