@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body {
  cursor: none; /* hide cursor globally */
  background-color: #FAF4EC;
}

.navbar {
  cursor: default !important;
}

.video {
  cursor: default !important;
}

.watchNowBtn {
  cursor: pointer !important;
}

button, .cursor-pointer {
  cursor: pointer !important;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif;
}

.zoom-content {
  transform-origin: center;
  will-change: transform, opacity, filter;
}
