/* Snap scrolling */
html {
  scroll-snap-type: y mandatory;
  timeline-scope: --section;
}

/* Each section is full-screen + scroll snap */
.section {
  height: 100vh;
  scroll-snap-align: start;

  /* scroll timeline for each section */
  view-timeline: --section;
}

/* Content fixed on top of each other */
.content {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: black;
  color: white;

  animation: zoom-scroll ease-in-out both;
  animation-timeline: --section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title styling */
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* The ONLY animation we want */
@keyframes zoom-scroll {
  0% {
    filter: blur(5rem);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  100% {
    filter: blur(3rem);
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}
